@model LVModel.Configuracao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Configuracao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDisciplina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglaDisciplina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglaDisciplina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index") |
    @*@Html.ActionLink("Listas Verificação", "Edit", new { /* id = Model.PrimaryKey */ })*@
    @Html.ActionLink("Listas de Verificação", "LVs", new { guid = Model.Guid })
</p>
