@model IEnumerable<LVModel.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISVERIFICADOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISGESTOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISCONFIGURADOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SIGLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENHA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISVERIFICADOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISGESTOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISCONFIGURADOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SIGLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENHA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
