@model LV_PresenterAPI.Models.AddRevisaoViewModel

@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    //string guidDoc = ViewBag.DocAdd;
}

<div id="dialog-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="col-md-3"></div>
        <div class="modal-content col-md-6">

            <div class="modal-header">
                <div class="col-md-10"><h4>Adicionar revisão</h4></div>
                <div id="id_saida" class="col-md-2"><button type="button" class="btn  btn-default" onclick="LimpaDiv()">X</button></div>
            </div>
            <img id="divLoading" src="~/img/tenor.gif" alt="Loading Image" height="150" title="Loading Image" class="HideLoader" />
            <div class="modal-body">

                @using (Ajax.BeginForm("Adiciona", new { id = "addForm" }, new AjaxOptions
                {
                    UpdateTargetId = "UpdateContentDiv",
                    InsertionMode = InsertionMode.Replace,
                    OnBegin = "onAjaxBegin",
                    OnComplete = "onAjaxComplete",
                    OnSuccess = "AjaxFormSuccess"
                }))
                {
                    @*@Html.AntiForgeryToken()*@

                    <div class="form-horizontal">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        @Html.HiddenFor(model => model.GuidDocumento)
                        <div class="form-group">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @id = "label", @class = "control-label col-md-2 ShowLoader" })
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @id = "editor", @class = "form-control ShowLoader", @style = "width:135px" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-11" textalign="center">
                                @*<input id="botao" type="submit" onclick="this.disabled=true;this.form.submit();javascript:Validate(@Model.Nome)" value="CRIAR" class="btn btn-default ShowLoader" />*@
                                <input id="botao" type="submit" value="CRIAR REVISÃO" class="btn  btn-default ShowLoader" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            <h4 id="id_alerta" class="HideLoader">"Preenchimento inadequado ou falta confirmar!"</h4>

            <div id="UpdateContentDiv">

            </div>

            <div class="modal-footer">

            </div>


        </div>
        <div class="col-md-3"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function onAjaxBegin() {
            $("#id_alerta").removeClass("ShowLoader").addClass("HideLoader");
            $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
            $("#botao").removeClass("ShowLoader").addClass("HideLoader");
            $("#editor").removeClass("ShowLoader").addClass("HideLoader");
            $("#label").removeClass("ShowLoader").addClass("HideLoader");
            $("#id_saida").removeClass("ShowLoader").addClass("HideLoader");
        }

        function onAjaxComplete() {
            //$("#botao").removeClass("ShowLoader").addClass("HideLoader");


            //$("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
            //$("#id_alerta").removeClass("ShowLoader").addClass("HideLoader");


        }



        function AjaxFormSuccess(e) {

            if (e != "") {
                //$("#ok").empty();
                $("#id_alerta").removeClass("ShowLoader").addClass("HideLoader");
                $("#botao").removeClass("ShowLoader").addClass("HideLoader");
                $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
                window.location.href = e.env;
                //$.ajax({

                //}).done(function () {

                //    //$("#ok").empty();
                //    window.location.href = e;

                //    //"/ListaDocumento/IndexLD?guidDocumento=" + e;
                //})

            }
            else {
                $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
                $("#botao").removeClass("HideLoader").addClass("ShowLoader");
                $("#editor").removeClass("HideLoader").addClass("ShowLoader");
                $("#label").removeClass("HideLoader").addClass("ShowLoader");
                $("#id_saida").removeClass("HideLoader").addClass("ShowLoader");
                $("#id_alerta").removeClass("HideLoader").addClass("ShowLoader");

            }
        };


        function LimpaDiv() {
            $("#ok").empty();
            //    $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
            //    $("#botao").removeClass("ShowLoader").addClass("HideLoader");
            //    $("#editor").removeClass("ShowLoader").addClass("HideLoader");
            //    $("#label").removeClass("ShowLoader").addClass("HideLoader");
        }
    </script>
}



