@using WebAppAWListaVerificacao.Models
@{ 
    var nivelCorrente = (int)Session["NivelCorrente"];
    var guidPlanilha = (string)ViewBag.GuidPlanilha; //(string)TempData["GuidPlanilha"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/jsTree/docs.css" rel="stylesheet" />*@
    <link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>

    <div class="jumbotron" style="align-content:center;text-align:center;background-color:azure">

        <a class="btn btn-info" href="#" role="button">USUÁRIO : @ViewBag.SiglaUser</a>

        @{

            var btn = (LayoutSession)Session["BOTOES"];

            if (btn != null)
            {

                if (btn.ExibeBUSCAR_DOCUMENTO)
                {
                    @Html.ActionLink("BUSCAR LISTA", "Index", "Projeto", null, new { @class = "btn btn-primary" })
                }

                if (btn.ExibeACRESCENTAR_REVISAO)
                {
                    @Ajax.ActionLink("ACRESCENTAR REVISÃO", "Index", "AddRevisoes", null, new AjaxOptions
                    {
                        HttpMethod = "Get",
                        UpdateTargetId = "ok",
                        InsertionMode = InsertionMode.Replace
                    }, new { @class = "btn btn-primary" })
                }

                if (btn.ExibeCONFIRMA_REVISAO)
                {
                    @Html.ActionLink("CONFIRMA REVISOES", "Index", "ConfirmaRevisoes", null, new { @class = "btn btn-primary" })
                }

                if (btn.ExibeNUMERO_DOCUMENTO)
                {
                    @Ajax.ActionLink("NÚMERO DO DOCUMENTO", "Index", "PegaDoc", new { guid_planilha = guidPlanilha }, new AjaxOptions
               {
                   HttpMethod = "Get",
                   UpdateTargetId = "ok",
                   InsertionMode = InsertionMode.Replace
               }, new { @class = "btn btn-primary" })
                }

                if (btn.ExibeNUMERO_DOCUMENTO_CARREGADO)
                {
                    <a class="btn btn-info" href="#" role="button">DOCUMENTO : @ViewBag.NumeroDocumento</a>
                }


            }

        }

 
    </div>

    <div class="container body-content">
        <table class="table" cellpadding="5" cellspacing="5">
            <tr>
                <td valign="top" style="background-color:azure">@{Html.RenderAction("_Navegar", "_Layout", new { nivel = nivelCorrente }); }</td>
                <td valign="top">@RenderBody()</td>
            </tr>
        </table>

        <hr />
        <footer>
            <p style="text-decoration:solid">&copy; @DateTime.Now.Year - Lista de Verificação SNCLavalin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jstree")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)

</body>
</html>
