@using WebAppAWListaVerificacao.Models
@{
    var nivelCorrente = (int)Session["NivelCorrente"];

    var cabecalho = (CabecalhoViewModel)ViewBag.CabecalhoViewModel;

    var guidDocumento = (string)ViewBag.GuidDocumento;
    //guidDocumento = (string)TempData["GuidDocumento"]
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*<link href="~/Content/jsTree/docs.css" rel="stylesheet" />*@
    <link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>

    <div class="jumbotron" style="align-content:center;text-align:center;background-color:azure">



        @Html.ActionLink("BUSCAR LISTA", "Index", "Projeto", null, new { @class = "btn btn-primary" })

        <a class="btn btn-info" href="#" role="button">USUÁRIO : @ViewBag.SiglaUser</a>

        @*<a class="btn btn-info" href="#" role="button">DOCUMENTO : @cabecalho.NumeroDocumento</a>*@

        





    </div>

    <div class="container body-content">
        <table class="table" cellpadding="5" cellspacing="5">
            <tr>
                <td valign="top" style="background-color:azure">@{Html.RenderAction("_Navegar", "_Layout", new { nivel = nivelCorrente }); }</td>
                <td valign="top">@RenderBody()</td>
            </tr>
        </table>

        <hr />
        <footer>
            <p style="text-decoration:solid">&copy; @DateTime.Now.Year - Lista de Verificação SNCLavalin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jstree")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)

</body>
</html>



