@using EntidadesRepositoriosLeitura
@using LVModel

@{
    var nivelCorrente = (int)Session["NivelCorrente"];

    string guidLV = "";
    if (Session["GidLV"] != null)
    {
        guidLV = (string)Session["GidLV"];
    }


    string NumeroDoc = "";
    if (Session["NumeroDoc"] != null)
    {
        NumeroDoc = (string)Session["NumeroDoc"];
    }

    int VerificadorUnico = 0;
    if (Session["VerificadorUnico"] != null)
    {
        VerificadorUnico = (int)Session["VerificadorUnico"];
    }


    string siglaUser = ((Usuario)Session["Usuario"]).SIGLA;
    var num_projeto = ((ProjetoVM)Session["Projeto"]).NUMERO;


}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/jsTree/themes/default/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>





    <div class="jumbotron" style="align-content:center;text-align:center;background-color:azure">


        @Html.ActionLink("BUSCAR PROJETO", "Index", "Inicial", new { id = guidLV }, new { @class = "btn btn-primary" })
        @Html.ActionLink("BUSCAR LISTA", "BuscaLV", "Inicial", new { id = guidLV }, new { @class = "btn btn-primary" })

        <a class="btn btn-info" href="#" role="button">PROJETO : @num_projeto</a>

        <a class="btn btn-info" href="#" role="button">USUÁRIO : @siglaUser</a>

        <a class="btn btn-info" href="#" role="button">DOCUMENTO : @NumeroDoc</a>





        @Ajax.ActionLink("ACRESCENTAR REVISÃO", "Index", "AdicionaRevisao", new { id = guidLV }, new AjaxOptions
            {
                                          HttpMethod = "Get",
                                              UpdateTargetId = "ok",
                                              InsertionMode = InsertionMode.Replace
                  }, new { @class = "btn btn-primary" })


        @Html.ActionLink("RETOMAR REVISÃO", "Index", "RetomarEdicao", new { id = guidLV }, new { @class = "btn btn-primary" })


    </div>





    <div class="container body-content">
        <table class="table" cellpadding="5" cellspacing="5">
            <tr>
                <td valign="top" style="background-color:azure">@{Html.RenderAction("_NavegarArvore", "ArvoreNav", new { nivel = nivelCorrente }); }</td>
                <td valign="top">@RenderBody()</td>
            </tr>
        </table>

        <hr />
        <footer>
            <p style="text-decoration:solid">&copy; @DateTime.Now.Year - Lista de Verificação SNCLavalin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jstree")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)


</body>
</html>
